doctype html
html
  head
    title All Stickers
    link(rel="stylesheet", href=`${baseUrl}/dejavu-fonts/regular.css`)
    link(rel="stylesheet", href=`${baseUrl}/main.css`)
    meta(name="viewport", content="width=device-width")
    meta(name="theme-color", content="#deb836")
  body
    .container
      h1 All Stickers
      each artist in artists
        h2
          a(href=artist.href)
            =artist.name
        .gallery
          each sticker in artist.stickers
            .gallery-item(data-vanity=sticker.vanity)
              picture
                each size in sticker.available_sizes
                  -
                    var media = ''
                    if (size >= 256) {
                      media = '(min-width: 1600px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1000px)'
                    } else if (size >= 128) {
                      media = '(min-width: 1000px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 800px)'
                    } else if (size >= 64) {
                      media = '(min-width: 800px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 600px)'
                    }
                  each source in sticker.sizes.get(size).sources
                    source(type=source.content_type, srcset=`${baseUrl}/${source.source}`, sizes=`${size}px`, media=`${media}`)
                img(alt=sticker.vanity, src=`${baseUrl}/${sticker.sizes.get(sticker.largest_size).primary.source}`, loading="lazy")
              .gallery-label
                a(href=sticker.url)=sticker.vanity
    .single-container
      .single-item
        .single-other
          a(href=jsonUrl) json
    script(src=`${baseUrl}/main.js`, type="application/javascript")

