doctype html
html
  head
    title=`${vanity} by ${artistName}`
    link(rel="stylesheet", href=`${baseUrl}/dejavu-fonts/regular.css`)
    link(rel="stylesheet", href=`${baseUrl}/main.css`)
    meta(name="viewport", content="width=device-width")
    meta(property="og:type", content="website")
    meta(property="og:description", content=`${vanity}`)
    meta(property="og:title", content=`${vanity} by ${artistName}`)
    meta(property="og:image", content=`${fallbackSource.url}`)
    meta(property="og:image:width", content=`${fallbackSource.size}`)
    meta(property="og:image:height", content=`${fallbackSource.size}`)
    meta(name="theme-color", content="#deb836")
  body
    .single-container
      .single-item
        picture
          each source in sources
            source(type=source.contentType, srcset=source.url)
          img(alt=vanity, src=`${fallbackSource.url}`)
        .single-label
          // Have to have a space here
          =`${vanity} by `
          a(href=artistHref)=artistName
        if losslessSource
          .single-lossless-link(data-url=losslessSource.url)
            ='Lossless: '
            code=losslessSource.url
        .single-other
          a(href=jsonUrl)=`${vanity}.json`
        .single-other
          a(href=baseUrl) Go Back


    script(src=`${baseUrl}/single.js`, type="application/javascript")

